

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-width: 1000px;
    font-family: 'Dosis';
    -webkit-user-select: none;
}

#header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 50px;
    background: #232323;
    z-index: 100;
    opacity: 0.95;
}

.wrap {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    position: relative;
    font-size: 30px;
    top: 0px;
    height: 50px;
    color: #00F1A8;
    display: inline-block;
}

.logo img {
    position: relative;
    top: 7px;
    height: 30px;
}

.logo span {
    position: relative;
    top: 3px;
}

.logo a {
    text-decoration: none;
    color: #00F1A8;
}


.nav-menu {
    position: relative;
    margin: 0;
    list-style-type: none;
    display: inline-block;
    color: #e1e1e1;
    text-transform: uppercase;
}

.nav-menu li {
    position: relative;
    float: right;
    display: inline;
    margin: 0;
    padding: 15px 15px;
    overflow: hidden;
}

.nav-menu li:hover {
    color: #00F1A8;
    background: #272727;
    cursor: pointer;
    overflow: visible;
    z-index: 1;
}

.nav-menu li:active {
    color: #949494;
    background: #000000;
    cursor: pointer;
    overflow: visible;
    z-index: 1;
}

.nav-menu-href {
    position: relative;
    float: right;
    display: inline;
    margin: 0;
    padding: 15px 15px;
    overflow: hidden;
    color: #e1e1e1;
}

.nav-menu-href:hover {
    color: #00F1A8;
    background: #272727;
    cursor: pointer;
    overflow: visible;
    z-index: 1;
}

.nav-menu-href:active {
    color: #949494;
    background: #000000;
    cursor: pointer;
    overflow: visible;
    z-index: 1;
}

.nav-menu .highlight {
    border-bottom: 2px solid #00F1A8;
    /*background: #2C2C2C;*/
    color: #00F1A8;
}

.main {
    position: relative;
    top: 270px;
    left: 0px;
    right: 0px;
    color: #fb0043;
}

.badge {
    position: absolute;
    background: #fb0043;
    padding: 3px 0;
    border-radius: 3px;
    text-align: center;
    width: 20px;
    font-size: 12px;
    color: #ffffff;
    top: 40px;
    margin-left: -20px;
}

.notification {
    position: absolute;
    background: #fb0043;
    padding: 3px 0;
    border-radius: 3px;
    text-align: center;
    width: 20px;
    font-size: 12px;
    color: #ffffff;
    top: 14px;
    margin-left: 10px;
}

.notification:hover {
    cursor: pointer;
    background: #ff9f00;
    color: #2C2C2C;
}

.footer {
    position: relative;
    top: 90px;
    color: #7E7E7E;
    font-size: 9px;
}

.footer hr {
    border: 0px;
    height: 1px;
    background: #d8d8d8;
    margin: 10px -20px;
}

.text-right {
    text-align: right;
    float: right;
}

.nav-sub-menu {
    position: absolute;
    top: 50px;
    left: 50%;
    float: left;
    right: 0px;
    margin: 0;
    width: 170px;
    margin-left: -85px;
    list-style-type: none;
    display: inline-block;
    color: #e1e1e1;
    border-bottom: 3px solid #fb0043;
    border-top: 3px solid #fb0043;
}

.nav-sub-menu li {
    position: relative;
    float: left;
    display: inline;
    left: 0px;
    right: 0px;
    margin: 0;
    padding: 15px 15px;
    background: #000;
    width: 140px;
}

.nav-menu-div {
    float: right;
}

.bgA {
    background: #00F1A8;
    color: #000000;
}

.bgB {
    background: #fb0043;
    color: #ffffff;
}

.bgC {
    background: #ff9f00;
    color: #ffffff;
}

.shadow {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.21);
}

.box {
    padding: 40px;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    min-width: 200px;
    text-align: center;
}

.box-parameter {
    position: absolute;
    top: 1000px;
    left: 100px;
    padding: 4px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    font-size: 11px;
}

input {
    border: 0px;
    padding: 8px;
    outline: none;
}

select {
    border: 0px;
    padding: 8px;
    outline: none;
}

.container {
    position: relative;
    border: 8px solid rgba(108, 108, 108, 0);
    padding: 10px;
    height: 180px;
    width: 90px;
    border-top-color: #6c6c6c;
    border-bottom-color: #6c6c6c;
    background: rgba(216, 216, 216, 0);
}

.filling {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50%;
    background: #009CFB;
}

.container_inner {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    background: #f1f1f1;
}

.container_banner {
    position: absolute;
    top: 50%;
    height: 30px;
    margin-top: -15px;
    padding: 5px;
    font-size: 12px;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #FFFFFF;
    -webkit-text-fill-color: #000000;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
}

.queryCreator {
    font-size: 16px;
    /*line-height: 30px;*/
}

.queryButton {
    padding: 5px;
    border-radius: 3px;
    min-width: 24px;
    text-align: center;
    display: inline-block;
    font-size: 11px;
    cursor: pointer;
}

.nav-menu-two {
    position: relative;
    margin: 0;
    list-style-type: none;
    display: inline-block;
    width: 200px;
    text-transform: uppercase;
}

.nav-menu-two li {
    position: relative;
    float: left;
    display: inline;
    margin: 0;
    padding: 4px 16px;
    overflow: hidden;
    width: 168px;
    text-align: right;
    margin-top: 4px;
}

#secondmenu {
    position: fixed;
    right: 20px;
    top: 50px;
    bottom: 22px;
    width: 200px;
    text-align: right;
    -webkit-transition: 0.3s ease-in-out;
    z-index: 1;
}

#secondmenu:hover {
    right: 20px;
}

#secondmenu li {
    background: #00F1A8;
    color: #00815A;
}

#secondmenu li:hover {
    background: #00d695;
    cursor: pointer;
}

#secondmenu li:active {
    color: #fb0043;
    cursor: pointer;
}

#thirdmenu {
    position: fixed;
    right: -180px;
    top: 50px;
    bottom: 22px;
    width: 200px;
    text-align: right;
    -webkit-transition: 0.3s ease-in-out;
    z-index: 2;
}

#thirdmenu:hover {
    right: 10px;
}

#thirdmenu li {
    background: #fb0043;
    color: #800022;
}

#thirdmenu li:hover {
    background: #e2003c;
    cursor: pointer;
}

#thirdmenu li:active {
    color: #000;
    cursor: pointer;
}

#fourthmenu {
    position: fixed;
    right: -190px;
    top: 50px;
    bottom: 22px;
    width: 200px;
    text-align: left;
    -webkit-transition: 0.3s ease-in-out;
    z-index: 3;
}

#fourthmenu:hover {
    right: 0px;
    border-left: 10px solid #e2003c;
}

#fourthmenu li {
    text-align: left;
    background: #ff9f00;
    color: #835200;
}

#fourthmenu li:hover {
    background: #e89100;
    cursor: pointer;
}

#fourthmenu li:active {
    color: #000;
    cursor: pointer;
}

.header {
    padding: 15px;
    font-size: 24px;
}

.hidden {
    display: none !important;
}

#sidebar {
    position: absolute;
    left: 0px;
    top: 50px;
    bottom: 22px;
    width: 40px;
    background: #5c5c5c;
}

#bottombar {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 18px;
    background: #ECECEC;
    z-index: 5;
    font-size: 11px;
    color: #747474;
    padding: 26px;
    padding-top: 4px;
    padding-bottom: 0px;
    text-align: right;
}
